* {
  margin: 0;
  padding: 0;
  font-family: 'Cambria';
}

.topbar {
  background-color: #212529;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.topbar h2 {
  flex: 1;
  font-size: 4vh;
}

.topbar_holder {
  display: flex;
  font-size: 3vh;
  justify-content: space-between;
}

.topbar_holder p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.welcome {
  background-color: #495057;
  color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.welcome h2 {
  font-size: 4vh
}

.welcome p {
  font-size: 3vh;
}

.about {
  height: 90vh;
}