* {
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Hide scrollbar but allow scrolling */
@media (max-width: 768px) {
  element-selector {
      scrollbar-width: none; /* For Firefox */
      -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

  element-selector::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
  }
}


.topbar {
    background-color: #292828;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cambria';
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.topbar h2 {
    margin: 0.4em;
    font-size: 1.5em;
}

.topbar_holder {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
    margin-right: 0.4em;
}

.topbar_holder p {
    background-color: #424140;
    margin: 0.4em;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1em;
}

.welcome {
    background-color:#424140;
    height:100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Cambria';
    flex-direction: column;
    text-align: center;
}

.about {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}